@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2b283a;
  margin: 0;
}

/* typography */

h1 {
  font-size: 36px;
  color: whitesmoke;
  margin: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
  margin: 0;
}

p {
  line-height: 23px;
}

/* links */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

.button {
  padding: 10px 19px;
  border-radius: 4.6px;
  text-decoration: none;
  font-weight: bold;
  font-weight: bold;
}

.button:hover,
.button:active {
  color: #2b283a;
  background: #f3e885;
}

.dark-btn {
  background: #5f29a3;
  color: whitesmoke;
}

.mid-btn {
  background: #f0e0ff;
  color: #5f29a3;
}

.dark-btn,
.mid-btn {
  display: inline-block;
}

.light-btn {
  color: #5f29a3;
  background: whitesmoke;
  display: inline-block;
}

/* layout */

header,
section,
footer {
  padding: 45px 0;
}

header,
.section-two {
  background: #5f29a4;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.section-two {
  color: whitesmoke;
}

.mai-image {
  width: 100%;
}

.section-two-img {
  width: 300px;
  border-radius: 4.6px;
}

.section-two-img-container {
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: 16px;
  color: #5f29a3;
  text-align: center;
}
